.events {
  background: #0c0c0c;

  padding: 120px 0;
}

.events-grid {
  display: grid;

  grid-template-columns: repeat(4, 1fr);

  gap: 30px;
}

.event-card {
  position: relative;

  height: 450px;

  border-radius: 20px;

  overflow: hidden;

  cursor: pointer;
}

.event-card img {
  width: 100%;

  height: 100%;

  object-fit: cover;

  transition: 0.6s;
}

.event-card:hover img {
  transform: scale(1.15);
}

.event-overlay {
  position: absolute;

  left: 0;

  bottom: -100%;

  width: 100%;

  height: 100%;

  padding: 35px;

  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.95));

  display: flex;

  flex-direction: column;

  justify-content: flex-end;

  transition: 0.45s;
}

.event-card:hover .event-overlay {
  bottom: 0;
}

.event-overlay i {
  font-size: 42px;

  color: #ff8c00;

  margin-bottom: 20px;
}

.event-overlay h3 {
  color: white;

  font-family: var(--title-font);

  margin-bottom: 15px;
}

.event-meta {
  display: flex;

  justify-content: space-between;

  color: #d4af37;

  margin-bottom: 18px;

  font-size: 0.95rem;
}

.event-overlay p {
  color: #d4d4d4;

  line-height: 1.8;

  margin-bottom: 25px;
}

.event-btn {
  width: fit-content;

  padding: 12px 28px;

  background: var(--gold-gradient);

  color: black;

  border-radius: 40px;

  font-weight: 600;

  transition: 0.3s;
}

.event-btn:hover {
  transform: translateY(-4px);
}
